<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<body>
    <div class="container">
        <h1><%=product.name%></h1>
        <p><%= product.price %></p>
        <img src="<%=product.img%>" alt="photo of <%=product.name%>">
        <div class="desc-container">
            <p><%= product.description %></p>
        </div>
        <div class="btn-container">
            <a class="button button-clear" href="/products/<%=product._id%>/edit">Edit</a>
            <a class="button button-clear" href="/products">Back</a>
        </div>
    </div>
<%- include('./partials/footer') %>