<%- include('./partials/header') %>

<body>
    <h1><%=product.name%></h1>
    <p><%= product.price %></p>
    <img src="<%=product.img%>" alt="photo of <%=product.name%>">
    
    <a href="/products">Back</a>

<%- include('./partials/footer') %>